@charset "UTF-8";

form{
    width: 500px;
    margin: auto;
    
}
fieldset{
    margin-top: 20px;
}
input, textarea{
    font-family: sans-serif;
}
input:hover, textarea:hover{
    background-color: rgb(163, 163, 163);
}
legend{
    color: gray;
    font-weight: bold;
    font-size: 1.75em;
}
fieldset{
    border-color: #cecece;
    margin: 20px;
}
button{
    margin-top: 20px;
    font-size: 1.5em;
}
#sexo{
    width: 200px;
    margin-left: 50px;
    font-size: 1.10em;
}
